/*小标题部分*/
#main h3{
    border-bottom:1px solid turquoise;
    width: 90%;
    max-width: 1600px;
    margin: 20px auto 0;
    font-size: 30px;
    font-family: "仿宋";
    text-align: left;
}
/*公告部分*/
.notice{
    overflow: hidden;
    text-align: center;
}
.notice img{
    width: 320px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.notice a{
    display: inline-block;
    width: 320px;
    height: 240px;
    margin: 70px 15px 0;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(239, 239, 239);
    border: solid 1px gainsboro;
    border-radius: 8px;
    color: grey;
    transition: all 1s ease;
}
/* 悬停变化*/
.item_top:hover{
    color: #6790ff;
}
.author:hover{
    color: #b4d8ff;
}
.items:hover{
    transform: translateY(-3px) translateX(1px);
    box-shadow: -1.5px 1px 2px rgba(231, 231, 231, 0.66);
    transition: all 0.2s ease;
}
.more a:hover{
    color: #eee;
}
.novel_ver,.comic_ver,.anime_ver,.game_ver{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
/*内容样式*/
.items{
    display: inline-block;
    width: 320px;
    margin: 40px 15px 0;
    background-color: #fafafa;
    border: solid 1px gainsboro;
    border-radius: 8px;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    font-family: "仿宋";
    box-shadow: 0 0 8px 8px rgb(255, 255, 255);
    transition: all 1.8s ease;
}
.items img{
    width: 320px;
    height: 180px;    
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.item_title{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_top{
    position: relative;
    margin-bottom: 6px;
    line-height: 15px;
    color: #b3b3b3;
}
.item_top::after{
    content: "";
    display: inline-block;
    border-bottom: 1px solid #d2d2d2;
    width: 90%;
    position: absolute;
    bottom: 2px;
    left: 1em;
}
/* 底部作者和点击量 */
.item_center{
    text-align: left;
    margin: 12px 0;
}
.author{
    margin-left:25px;
    color: #7a7a7a;
    font-size: 15px;
}
.author img{
    width: 26px;
    height: 26px;
    border: 3px solid #dbdbdb;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}
.item_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 5px;
}
.item_bottom .list_title{
    margin-left: 12px;
    color: #f6f6f6;
    width: 40px;
    line-height: 20px;
    font-size: 12px;
    border-radius: 5px 0;
    background-color: #cccccc;
}
.lists{
    margin-right: 5px;
}
.lists span{
    display: inline-block;
    letter-spacing: 5px;
    color: #9c9494;
}
/*查看更多*/
.more{
    text-align: center;
}
.more a{
    color:#fff;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 60px;
    display: inline-block;
    background-color: rgb(94, 236, 170);
    font-size: 15px;
    margin: 50px auto 30px;
    font-family: "宋体";
    box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.8);
}