#user {
    width: 1080px;
    height: 800px;
    margin: 100px auto;
    border-radius: 10px;
    display: flex;
}

#user-nav {
    width: 20%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
}

#user-item {
    width: 80%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: #f8f8f8;
    overflow-y: scroll;
}

#user-item>div,
#user-nav>div {
    visibility: hidden;
    transition: all 0.5s ease;
}

#user-nav-top {
    width: 90%;
    height: 22%;
    margin: 0 auto;
    border-bottom: 1px solid #aaaaaa;
}

#user-nav-bottom {
    width: 90%;
    height: 78%;
    margin: 0 auto;
}

#user-headshot {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 10% auto 0 auto;
}

#user-headshot-input {
    display: none;
}

.headshot-replace-icon {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

#user-headshot img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#user-nickname,
#user-attend {
    text-align: center;
    margin-top: 4%;
    font-family: "微软雅黑";
}

#user-nickname span {
    font-size: 16px;
    font-weight: 700;
}

#user-attend div {
    width: 80px;
    height: 20px;
    margin: 4px auto;
    font-size: 14px;
    background-color: #cccccc;
    line-height: 20px;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
}

#user-attend span {
    color: #aaaaaa;
    font-size: 12px;
    letter-spacing: 1px;
}

#user-nav-item {
    margin-top: 30px;
}

#user-nav-item li {
    width: 150px;
    line-height: 30px;
    font-size: 17px;
    border-radius: 2px;
    margin: 18px 24px;
    padding-left: 10px;
}

#user-nav-item li a {
    width: 100px;
    color: #777777;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#user-nav-item .icon {
    width: 20px;
    line-height: 20px;
    text-align: center;
}